@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070707;
  overflow-x: hidden;
}

.backdrop-blur {
  backdrop-filter: "blur(20px)";
}

body div::selection {
  background-color: rgba(68, 68, 68, 0.4);
}
